body
  font-family: $font-base
  font-size: $font-size-base
  //color: $color-text-base
  height: 100%

.wrap
  display: flex
  flex-direction: column
.main
  width: 1200px
  margin: $margin_center



//Header

.header
  background: #f0727d
  border-bottom: 3px solid #ffffff
  line-height: 80px
.header-nav
  font-family: $font-champagne
  text-transform: $text-transform
  ul
    +clearfix
    li
      float: left
      color: #fff
      font-size: 30px
      &::after
        content: ''
        display: block
      a
        color: #fff
        padding: 10px
        line-height: 26px
        border: 3px solid transparent
        position: relative
        &::before
          content: ''
          display: none
          width: 0
          height: 0
          border-style: solid
          border-width: 11px 9px 0 9px
          border-color: #000000 transparent transparent transparent
          position: absolute
          bottom: -11px
          left: 50%
          margin-left: -9px
          z-index: 1
        &::after
          content: ''
          display: none
          width: 0
          height: 0
          border-style: solid
          border-width: 8px 6px 0 6px
          border-color: #ffffff transparent transparent transparent
          position: absolute
          bottom: -8px
          left: 50%
          margin-left: -6px
          z-index: 2
        &:hover
          background: #fff
          color: #f0727d
          border: 3px solid #261418
          +border-radius(10px)
          &::after
            content: ''
            display: block
          &::before
            content: ''
            display: block
    li:last-child
      margin-left: 10px

//End Header

//Banner
.content-block-1
  background: url('../images/background_banner.jpg') no-repeat
  +clearfix
  .slogan-first
    margin: 30px 0
    float: left
  .slogan-first-text
    display: inline-block
    font-family: $font-champagne
    font-size: 48px
    text-transform: $text-transform
    color: #fff
    padding: 10px 15px
    border-top: 3px solid #fff
    border-bottom: 3px solid #fff
    background: rgba(0,0,0,0.5)
  .slogan-second
    float: left
    clear: both
    margin-bottom: 60px
  .slogan-second-text
    display: inline-block
    font-size: 62px
    color: #281a1e
    background: rgba(255,255,255,0.74)
    i
      font-size: 28px
  .form-block
    float: left
    clear: both
    background: rgba(0,0,0,0.5)
    padding: 20px 10px
    border: 3px solid #fff
    +border-radius(24px)
    .input-wrapp
      position: relative
      .form-wrapp-input
        width: 400px
        padding: 10px
        margin-bottom: 30px
        background: rgba(228,225,226,0.74)
        font-size: 24px
        line-height: 26px
        font-family: $font-champagne
        text-transform: $text-transform
        +border-radius(6px)
        &::-moz-placeholder
          color: #261418
        &::-webkit-input-placeholder
          color: #261418
    .input-wrapp::after
      content: ''
      width: 0
      height: 0
      border-style: solid
      border-width: 16px 25px 0 0
      border-color: rgba(228,225,226,0.74) transparent transparent transparent
      position: absolute
      bottom: 14px
      left: 15px
    .form-btn
      float: right
      padding: 5px 10px
      background: rgba(228,225,226,0.74)
      font-size: 24px
      line-height: 26px
      font-family: $font-champagne
      text-transform: $text-transform
      +border-radius(6px)
  .logo-block
    text-align: center
//End banner

//Footer
.footer
  background-color: #ff727c
  padding: 50px 0
.footer-col-wrap
  display: flex
  flex-direction: row
  +clearfix
  .footer-col
    flex: 1
    padding: 0 15px
    font-size: 30px
    font-family: $font-champagne
    +box-sizing(border-box)
    .footer-link
      display: block
      color: #261418
    &:before
      content: ''
      display: block
      float: left
      margin-right: 10px
  .footer-col:first-child
    flex: 1 8%
  .footer-col:nth-child(2)
    text-align: left
    padding: 0 40px
    flex: 1 9%
  .footer-col:nth-child(3)
    text-align: left
    flex: 2
  .footer-col-phone
    &:before
      background: url(../images/footer_phone.png) no-repeat
      height: 98px
      width: 81px
  .footer-col-mail
    &:before
      margin-right: 20px
      background: url(../images/footer_mail.png) no-repeat
      height: 37px
      width: 55px

