body
  font-family: $font-base
  font-size: $font-size-base
  //color: $color-text-base
  height: 100%

.wrap
  display: flex
  flex-direction: column
.main
  width: 1200px
  margin: $margin_center
<<<<<<< HEAD
.main-title
  font-size: 60px
  text-align: center
  color: #ff727c
=======


>>>>>>> 33ef62e30628c3bdba16c8796c3201e92b83bec8

//Header
.header
  background: #f0727d
  border-bottom: 3px solid #ffffff
  line-height: 80px
.header-nav
  font-family: $font-champagne
  text-transform: $text-transform
  ul
    +clearfix
    li
      float: left
      color: #fff
      font-size: 30px
      &::after
        content: ''
        display: block
      a
        color: #fff
        padding: 10px
        line-height: 26px
        border: 3px solid transparent
        position: relative
        &::before
          content: ''
          display: none
          width: 0
          height: 0
          border-style: solid
          border-width: 11px 9px 0 9px
          border-color: #000000 transparent transparent transparent
          position: absolute
          bottom: -11px
          left: 50%
          margin-left: -9px
          z-index: 1
        &::after
          content: ''
          display: none
          width: 0
          height: 0
          border-style: solid
          border-width: 8px 6px 0 6px
          border-color: #ffffff transparent transparent transparent
          position: absolute
          bottom: -8px
          left: 50%
          margin-left: -6px
          z-index: 2
        &:hover
          background: #fff
          color: #f0727d
          border: 3px solid #261418
          +border-radius(10px)
          &::after
            content: ''
            display: block
          &::before
            content: ''
            display: block
    li:last-child
      margin-left: 10px

//End Header

//Banner
.content-block-1
  background: url('../images/background_banner.jpg') no-repeat
  min-height: 1276px 
.slogan-first
  margin: 30px 0 
.slogan-first-text
  display: inline-block
  font-family: $font-champagne
  font-size: 48px
  text-transform: $text-transform
  color: #fff
  padding: 10px 15px
  border-top: 3px solid #fff
  border-bottom: 3px solid #fff
  background: rgba(0,0,0,0.5)
.slogan-second
  line-height: 62px
.slogan-second-text
  display: inline-block
  font-size: 62px
  color: #281a1e
  background: rgba(255,255,255,0.74)
  i
    font-size: 28px

<<<<<<< HEAD
//End Header
=======

//End banner
>>>>>>> 33ef62e30628c3bdba16c8796c3201e92b83bec8

//Questions
.content-block-9
  padding: 30px 0
.questions-row
  margin-bottom: 16px
  +clearfix
  .questions-row__col
    width: 40%
    h5
      font-size: 36px
      text-align: center
    .questions-row__col-item
      height: 100px
      position: relative
      color: $bg-base
      font-size: 36px
      font-family: $font-champagne
      background-color: #ff727c
      padding: 10px
      +box-sizing(border-box)
      +border-radius(5px)
      &:after
        content: ''
        display: block
        position: absolute
        left: 50%
        bottom: -10px
        height: 0
        width: 0
        margin-left: -10px
        border-left: 10px solid transparent
        border-right: 10px solid transparent
        border-top: 10px solid #ff727c
  .questions-row__col-left
    float: left
  .questions-row__col-right
    float: right
  .questions-row__col-md
    width: 20%
    float: left
    margin-top: 25px
    span
      background: url(../images/faq_arrow.png) no-repeat center
      height: 58px
      width: 89px
      display: block
      margin: 0 auto
.questions-row-first
  margin-bottom: 16px
  .questions-row__col-md
    margin-top: 60px

//Footer
.footer
  background-color: #ff727c
  padding: 50px 0
.footer-col-wrap
  display: flex
  flex-direction: row
  +clearfix
  .footer-col
    flex: 1
    padding: 0 15px
    font-size: 30px
    font-family: $font-champagne
    +box-sizing(border-box)
    .footer-link
      display: block
      color: #261418
    &:before
      content: ''
      display: block
      float: left
      margin-right: 10px
  .footer-col:first-child
    flex: 1 8%
  .footer-col:nth-child(2)
    text-align: left
    padding: 0 40px
    flex: 1 9%
  .footer-col:nth-child(3)
    text-align: left
    flex: 2
  .footer-col-phone
    &:before
      background: url(../images/footer_phone.png) no-repeat
      height: 98px
      width: 81px
  .footer-col-mail
    &:before
      margin-right: 20px
      background: url(../images/footer_mail.png) no-repeat
      height: 37px
      width: 55px

